body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  border: 2px solid orange; /* Adjust the color and thickness of the border */
  max-width: 86%; /* Adjust the maximum width of the content */
  width: 100%;
  height: 86%;
}
